# Build results
[TDd]/
[Tt]emp/
[Tt]est/
[Bb]in/
[Oo]bj/
[Bb]uild/
[Rr]elease/
x64/
x86/
arm/
arm64/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.opensdf

# NuGet
packages/
*.nupkg

# UWP
AppX/
BundleArtifacts/
PackageArtifacts/
*_Test/

# OS
.DS_Store
Thumbs.db
